.add_module_form{
  
   
    .add_module_wrapper{
        display: flex;
        border: 1.5px solid var(--primary-color);
        overflow: hidden;
        border-radius: 4px;

        
        .left{
            width: 30%;
            min-height: 70vh;
            background-color: var(--primary-color);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
           

            .icon{
                font-size: 6rem;
            }

        }

        .form{
            display: flex;
            flex-direction: column;
            width: 100%;

            .top{
                width: 100%;
                i{
                    // position: absolute;
                    float: right;
                    margin-right: 5px;
                    margin-top: 5px;
                    cursor: pointer;
                    font-size: 1.3rem;
                    font-weight: 300;
                    background-color: rgba($color: #000000, $alpha: 0.04);
                    transition: .2s all ease-in-out;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background-color: rgba($color: #000000, $alpha: 0.1)
                    }
    
                }

            }

            .form_contents{
                padding: 10px 80px;

                h5{
                    color: var(--primary-color);
                    font-weight: 600;
                    font-size: 1.3rem;
                }

                label{
                    display: block;
                    color: var(--black-color);
                    font-size: .7rem;
                    font-weight: 600;
                    margin-top: 10px;
                }

                input{
                    outline: none;
                    border: 1px solid var(--light-gray);
                    border-radius: 5px;
                    padding: 4px 5px;
                    font-size: .8rem;
                    color: var(--gray);
                    width: 400px;
                }

                .select {
                    width: 400px;
                    position: relative;
                    display: flex;
                    justify-content: center;

                    select {
                        
                        width: 100%;
                        font-size: .95rem;
                        appearance: none;
                        padding: 5px;
                        background-color: #fff;
                        border: 1px solid var(--light-gray);
                        border-radius: 5px;
                        color: var(--gray);
                        cursor: pointer;
                        outline: none;

                      

                        option{
                            border-radius: 5px;
                            color: var(--gray);
                        }

                      }

                      .icon_container{
                        width: 50px;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        right: 0;
                        height: 100%;

                        i{
                            font-size: 2rem;
                        }
                    }
                    
                  }

                .buttons{
                    display: flex;
                    column-gap: 43px;
                    font-size: .8rem;font-weight: 600;
                    padding: 20px 0px;
                    letter-spacing: 1.1px;

                    .cancel{
                        border: 1px solid var(--light-blue);
                        padding: 5px 55px;
                        border-radius: 5px;
                        cursor: pointer;
                        color: var(--primary-color);
                    }

                    .submit_btn{
                        border: 1px solid var(--primary-color);
                        background-color: var(--primary-color);
                        color: #fff;
                        padding: 5px 55px;
                        border-radius: 5px;
                    }
                    
                }
            }
        }
    }
}
